*{
    /* outline: 1px dotted blue; */
    padding: 0;
    margin: 0;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}

.container{
    background: #604D57;
    background: -moz-radial-gradient(center, #604D57 0%, #6F5964 58%, #28171D 100%);
    background: -webkit-radial-gradient(center, #604D57 0%, #6F5964 58%, #28171D 100%);
    background: radial-gradient(ellipse at center, #604D57 0%, #6F5964 58%, #28171D 100%);    width: 940px;
    width: 940px;
    margin:auto;
}

/*Header*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    padding: 10px 20px;
    background-color: #f5f5f5;
    font-weight: bold;
}
    header h1{
        font-size: 30px;
        font-family: cursive;
    }
    header h2{
        font-size: 15pt;
    }

/*Intro Row*/
div.intro-container{
    display: flex;
    justify-content: center;
    width: 900px;
    padding: 20px;
}
    div.intro-container img{
        height: 252px;
        width: auto;
        border: 4px solid #c0c0c0;
        vertical-align: bottom;
    }
    div.intro-container .about{
        margin-left: 25px;
        height: 260px;
        width: 460px;
        overflow: auto;
        background-image: linear-gradient(to right, white, #daccd9);
    }
    div.about p{
        margin: 10px;
        text-align: justify;
    }

/*box titles*/
    h3{
        height: 22px;
        padding: 6px;
        padding-left: 20px;
        font-weight: bold;
        color: white;
        background-image: linear-gradient(#aeaeb2, rgb(100, 100, 100),#aeaeb2);
        text-align: left;
        font-size: 15pt;
    }
    .tech-title{
        font-size: 12pt;
    }

/*Project Columns*/
div.project-container{
    display: flex;
    height: 600px;
    padding: 0px 20px 20px 20px;
    justify-content: center;
}

div.project{
    display: inline-block;
    background-color: grey;
    width: 280px;
    background-image: linear-gradient(to right, white, #daccd9);
    text-align: center;
}
    div.project img{
        width: 280px;
    }
    div.project p{
        height: 200px;
        margin: 10px;
        overflow: auto;
        text-align: justify;
    }

    .project ul{
        width: 260px;
        height: 100px;
        margin: 10px 10px 0px 10px;
        display: flex;
        justify-content:left;
        flex-wrap: wrap;
        list-style-type: none;
    }
    .project li{
        width: 52px;
        height: 40px;
    }
    .project li img{
        width: 40px;
        height: auto;
    }


    /* table{
        margin: 10px 10px 0px 10px;
    }
        td{
            display: inline-block;
            width: 50px;
            height: 40px;
            padding-bottom: 10px;
            text-align: center;
        }
        table tr td img{
            max-width: 40px;
            height: 40px;
    } */
    
    .project a{
        display: inline-block;
        text-decoration: none;
        color: white;
        font-size: 10pt;
        background-color: #407d61;
        padding: 4px;
        border: 1px solid black;
        border-radius: 8px;
        box-shadow: 5px 5px 8px 0px rgba(0,0,0,0.81);
    }

    .la-mode{
        margin: 0px 2.5px 0px 5px;
    }
    .family-contacts{
        margin: 0px 20px 0px 20px;
    }
    .fiveeleven{
        margin: 0px 5px 0px 2.5px;
    }

/* Footer */
footer{
    background-color: #f5f5f5;
    height: 70px;
    text-align: center;
    align-items: center;
    padding: 10px;
}
footer p{
    margin-bottom: 20px;
}

footer li{
    display: inline-block;
    font-style: italic;
    color: black;
}
    footer li img{
        display: inline-block;
        vertical-align: middle;
        max-height: 20px;
    }
    footer li a{
        display: inline-block;
    }